:root {
  --primary-text-color: #434455; /*slate*/
  --accent-text-color: #2e2f42; /*navy-blue*/
  --primary-white-color: #ffffff;
  --accent-color: #4d5ae5; /*iris*/
  --footer-text-color: #f4f4fd; /*cloud*/
  --primary-background-color: #ffffff;
  --secondary-background-color: #f4f4fd; /*cloud*/
  --accent-background-color: #2e2f42; /*navy-blue*/
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

/*Link*/
a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

/*List*/

.list {
  list-style: none;
}
ul,
ol {
  list-style-type: none;
}

/* Headings */

/* Site-nav */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo .logo-part {
  color: var(--accent-text-color);
}

.footer-logo .logo-part {
  color: var(--footer-text-color);
}

.nav-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contacts-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Section-hero */

/* Section */

/* Our advantages */
.visually-hidden {
  display: none;
}
/* Out team */

/* Footer */
